.navbar {
    background-color: rgb(93, 123, 123);
}

.navbar .navbar-dashboard {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    background-color: rgb(99, 77, 59);
    width: 50%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.text-muted .form-text {
    color: red;
}